cfo 瑞士.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: cfo 瑞士
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.45@c3b4e788bdac202445fe0a1d82ff81fbc0f24f7ef3aaeef4785908d1d972fa84
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1774154360237-1-1774154721735-target
      selected: false
      source: '1774154360237'
      sourceHandle: '1'
      target: '1774154721735'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1774154360237-2-llm-target
      selected: false
      source: '1774154360237'
      sourceHandle: '2'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774154721735-source-1774155316639-target
      selected: false
      source: '1774154721735'
      sourceHandle: source
      target: '1774155316639'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: llm-source-1774155316639-target
      selected: false
      source: llm
      sourceHandle: source
      target: '1774155316639'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774155316639-source-1774154837356-target
      selected: false
      source: '1774155316639'
      sourceHandle: source
      target: '1774154837356'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        classes:
        - id: '1'
          name: 财务、利润、报表、瑞士、金额
        - id: '2'
          name: 翻译、润色、日程、日报、聊天
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: moonshotai/Kimi-K2-Thinking
          provider: langgenius/siliconflow/siliconflow
        query_variable_selector: []
        selected: false
        title: Question Classifier
        type: question-classifier
        vision:
          enabled: false
      height: 169
      id: '1774154360237'
      position:
        x: 0
        y: 0
      positionAbsolute:
        x: 0
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: moonshotai/Kimi-K2-Thinking
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: 99ada785-325b-4a74-8e61-e25f777461ec
          role: system
          text: '你是 Echo 办公助手。当用户要求安排日程或写日报时，必须使用以下 Markdown 格式：

            📅 [任务标题]

            时间节点：[具体时间]

            核心内容：[简洁描述]'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 361
        y: 180
      positionAbsolute:
        x: 361
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - HNWKLCgSy4Dk42ex+PbCj+Wk8s8BY0WJqCCv3sri7yyc8e5eMHhJE4ED3dwyqixh
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: netease-youdao/bce-reranker-base_v1
            provider: langgenius/siliconflow/siliconflow
          top_k: 4
        query_attachment_selector: []
        query_variable_selector: []
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 89
      id: '1774154721735'
      position:
        x: 361
        y: 11
      positionAbsolute:
        x: 361
        y: 11
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{{#1774155316639.text#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 102
      id: '1774154837356'
      position:
        x: 1063
        y: 20
      positionAbsolute:
        x: 1063
        y: 20
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: moonshotai/Kimi-K2-Thinking
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - role: system
          text: 你是财务审计专家。请根据知识库检索到的片段，提取数据并以 Markdown 表格 形式输出。 | 科目 | 本期金额 | 上期金额
            | 备注 | | :--- | :--- | :--- | :--- | | [科目名] | [金额] | [金额] | [Note 编号]
            |
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774155316639'
      position:
        x: 722
        y: 27
      positionAbsolute:
        x: 722
        y: 27
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 354.5
      y: 134.5
      zoom: 0.7
  rag_pipeline_variables: []
